.donation_widget_wrapper {
    background-color: white;
    padding: 1rem;
}
.donation_values_row,
.donation_types {
    display: flex;
    /* margin-bottom: 0.5rem; */
}
.donation_types .donation_button {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
}
.donation_button {
    margin: 0 0.08rem;
    background-color: #e7edf4;
    border: 1px solid #e7edf4;
    border-radius: 0.2rem;
    padding: 0.8rem 0.6rem;
    display: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    font-size: 1.3125rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.donate_now {
    display: block;
    width: 100%;
    background-color: darkorange;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
}
.donation_single.donation_button.is-visible,
.donation_monthly.donation_button.is-visible,
.donation_types.donation_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.2rem;
}
.donation_types_single_button.is-active,
.donation_types_monthly_button.is-active,
.donation_single_button.is-visible.is-active,
.donation_monthly_button.is-visible.is-active {
    font-weight: bold;
    background-color: #f69b1c;
}
#donation-form {
    display: flex;
}
.donation_description {
    display: none;
}
.donation_description.is-visible {
    display: block;
}
input.donation_value {
    display: none;
}
input.donation_value.is-visible {
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
}
